//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/slider-1.png" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") شركة الحياة
                            br
                            | لأنظمة معالجة المياه
                        p إحدى الشركات الرائدة في مجال معالجة المياه وتنقيتها.
                        p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                        p نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                        div(class="item-btn")
                            a(href="#!" class="btn") تعرف على الخدمات
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/slider-2.png" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") شركة الحياة
                            br
                            | لأنظمة معالجة المياه
                        p لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                        p مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                        p مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="item-btn")
                            a(href="#!" class="btn") تعرف على الخدمات
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                div(class="col-lg-6")
                    div(class="main-title")
                        h2 عن الحياة إيجيبت
                        span(class="bottom-title") الحياة إيجيبت إحدى الشركات الرائدة في مجال معالجة المياه وتنقيتها.
                    div(class="about-text")
                        ul 
                            li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                            li نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                            li لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                            li مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                            li ننفرد بخدمة عملاء مميزة علميًا ومهنيًا.
                            li مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                    div(class="about-btn")
                        a(href="#!" class="btn") تعرف على الخدمات
//about us

//video
section(class="video" style="background-image:url('images/bgs/bg-1.jpeg')")
    div(class="container")
        div(class="content")
            div(class="vid-icon")
                a(href="https://www.youtube.com/watch?v=kxPCFljwJws" data-fancybox="gallery") 
                    i(class="bi bi-play-fill")
            div(class="vid-text")
                p رغبة في توفير المياه وتلبية احتياجات العملاء فإننا نقدم خدماتنا لمختلف القطاعات.
                h2 قطاعات الأعمال
//video

//about tabs
section(class="about-tabs")
    div(class="container")
        div(class="content")
            ul(class="nav nav-pills", role="tablist")
                li(class="nav-item", role="presentation")
                    button(class="nav-link active", id="about-1-tab" data-bs-toggle="pill", data-bs-target="#about-1", type="button", role="tab", aria-controls="about-1", aria-selected="true") قطاع الزراعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-2-tab" data-bs-toggle="pill", data-bs-target="#about-2", type="button", role="tab", aria-controls="about-2", aria-selected="false") قطاع الطب
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-3-tab" data-bs-toggle="pill", data-bs-target="#about-3", type="button", role="tab", aria-controls="about-3", aria-selected="false") قطاع الصناعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-4-tab" data-bs-toggle="pill", data-bs-target="#about-4", type="button", role="tab", aria-controls="about-4", aria-selected="false") قطاع السياحة
            div(class="tab-content")
                div(class="tab-pane fade show active", id="about-1" role="tabpanel", aria-labelledby="about-1-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-2" role="tabpanel", aria-labelledby="about-2-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-3" role="tabpanel", aria-labelledby="about-3-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-4" role="tabpanel", aria-labelledby="about-4-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
//about tabs

//cta
section(class="cta")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="image")
                        img(data-src="images/cta.png" class="img-fluid" alt="")
                div(class="col-lg-6")
                    div(class="text")
                        div(class="main-title")
                            span(class="top-title") اسم موثوق به في صناعة المياه المعبأة
                            h2 توصيل وخدمة المياه المعبأة
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم.
                        ul 
                            li عبوات صحية ومريحة
                            li توصيل مجاني في عطلة نهاية الأسبوع
                            li 5 خطوات لمحطات الترشيح
                            li الأفضل للصحة والترطيب
                        div(class="btns")
                            a(href="products.html", class="btn btn-1", rel="nofollow") اطلب الآن
//cta

//clients
section(class="clients")
    div(class="container")
        //- div(class="main-title")
            span(class="top-title") شركاء موثوق بهم
            h2 عملائنا
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients